* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background: rgb(4, 4, 8);
	background: linear-gradient(
		34deg,
		rgba(4, 4, 8, 1) 91%,
		rgba(18, 0, 0, 1) 99%
	);
	font-family: "Nunito", sans-serif;
}

:root {
	--white: #ffffff;
	--gris: #979797;
	--red: #f81334;
}

body {
	margin: 25px 20px;
}

.bodySectionMovie {
	margin: 0px 0px;
}

/* margin 0 body */

.bodymargin0 {
	margin: 0;
}

img {
	max-width: 100%;
}

/* botones */

.btn {
	background: #f81334;
	color: var(--white);
	padding: 5px 15px;
	border: none;
	border-radius: 3px;
}

/* links */

.links {
	color: var(--red);
	font-weight: 600;
}

.logo-stream {
	display: flex;
	width: 100%;
	height: 20px;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0px 30px 0px;
}

/* navbar */

.navbar {
	width: 100%;
	margin-bottom: 40px;
	display: inline-flex;
	justify-content: space-around;
}

.navbar a {
	color: var(--gris);
	text-decoration: none;
}

.navbar--active {
	color: var(--white) !important;
	font-weight: 700;
	border-bottom: 2px solid var(--white);
}

.logo-stream--right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 30px;
}

.logo-stream--left img {
	width: 100px;
}

.navbar-search-input-principal {
	width: 70%;
	background: none;
	border: none;
	border-bottom: 1px solid #660110;
	padding-bottom: 5px;
	margin-right: 10px;
	color: white;
	outline: none;
}

.navbar-search {
	background-image: url(../img/search.png);
	background-size: 20px;
	background-color: transparent;
	height: 20px;
	width: 20px;
	border: none;
}
.category-container--title {
	font-size: 17px;
}


/* Slider */

.slider {
	width: 100%;
}

.slider-header {
	position: relative;
}

.slider img {
	max-width: 100%;
	border-radius: 5px;
}

.slider-content {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.slider-content h2 {
    color: var(--white);
    background: #1a1a1ae6;
    padding: 5px 10px;
    margin-bottom: 5px;
}

/* listaPeliculas */

.listaPeliculas-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

.listaPeliculas-header h3 {
	color: white;
}

.listaPeliculas-movielist {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 35%;
	gap: 20px;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	scrollbar-color: #6969dd #e0e0e0;
	scrollbar-width: thin;

}

.listaPeliculas-movielist::-webkit-scrollbar {
	height: 9px;
  }
  
.listaPeliculas-movielist::-webkit-scrollbar-track {
	background-color: #202020;
    border-radius: 100px;
}

.listaPeliculas-movielist::-webkit-scrollbar-thumb {
	background-color: #f81334;
    border-radius: 100px;
}

/* carga imagenes */

.movie-container--loading{
	max-width: 100%;
	height: 250px;
	background: #9999;
	animation: loading-skeleton infinite 1.5s;
}

.movie-container--loading:nth-child(2n + 2) {
    animation-delay: .2s;
}
.movie-container--loading:nth-child(3n) {
    animation-delay: .3s;
}



@keyframes loading-skeleton{
	0%, 100% {
		opacity: 100%;
	} 50%{
		opacity: 0%;
	}
}

/* generic list */

.genericList-content, .genericList-container {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.genericList-title {
	color: var(--white);
	margin-bottom: 20px;
}


/* header search */

.header-search {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 25px 0px;
}

.header-searchform {
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
}
.header-search-input {
	width: 50%;
	background: none;
	border: none;
	border-bottom: 1px solid var(--red);
	color: white;
	outline: none;
}

.header-search-arrow {
	background-image: url(../img/back.png);
	background-size: 28px;
	height: 28px;
	width: 28px;
}

.header-search-search {
	background-image: url(../img/search.png);
	background-size: 20px;
	background-color: transparent;
	height: 20px;
	width: 20px;
	border: none;
}

/* movie detail */

.movieDetail-principal {
	display: flex;
	justify-content: center;
	align-items: end;
	position: relative;
	background-image: url("../img/peliculas/img-stringer-things.webp");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	color: var(--white);
	width: 100%;
	height: 100vh;
}

.movieDetail-principal::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	background: linear-gradient(rgba(255, 255, 255, 0), black);
}

.movieDetail-principal,
.movieDetail-secundary {
	padding: 0px 20px;
}

.movieDetail-secundary{
	display: flex;
	gap: 30px;
	margin: 30px 0px;
	flex-direction: column;
}

.movieDetail-container-secundary-info, .movieDetailVideo-container{
	flex-basis: 50%;
}

.movieDetail-container-secundary-info{
	display: flex;
    flex-direction: column;
    justify-content: center;

}

#movieDetailTagline{
	font-weight: bold;
	color: var(--white);
	
}	
#movieDetail-description{
	font-size: 14px;
	color: var(--white);
	padding: 20px 0px;
}


.movieDetailVideo-container iframe{
	width: 100%;
	height: 300px;
}
.movieDetail-container--info {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	padding-bottom: 70px;
	text-align: center;
}

.movieDetail-btn {
	margin-top: 10px;
}

.movieDetail-espaciador {
	width: 100%;
	height: 1px;
	border-radius: 100%;
	background: rgb(255, 0, 0);
	background: radial-gradient(
		circle,
		rgba(255, 0, 0, 1) 0%,
		rgba(4, 4, 8, 1) 89%
	);
}
.movieDetail-categories-list {
	display: flex;
	margin: 10px 0;
}
.movieDetail-categories-list .category-container {
	margin: 0px 10px;
	font-size: 12px;
	font-weight: 400;
}

.categories-list {
	margin: 40px 0px;
	font-weight: 400;
	color: var(--white);
}

.movieDetail-score {
	background: #d39f12;
	color: rgb(18, 18, 18);
	font-weight: 900;
	font-size: 12px;
	margin-top: 10px;
	padding: 2px 6px;
	border-radius: 3px;
}

.movieDetail-container-arrow {
	position: absolute;
	width: 100%;
	height: 80px;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.45) 47%,
		rgba(0, 0, 0, 0) 100%
	);
	z-index: 1;
}

.movieDetail-arrow {
	display: block;
	background-image: url("../img/back.png");
	background-size: 30px;
	height: 30px;
	width: 30px;
	margin: 20px;
}



/* categoriesPreview lista */

.categoriesPreview-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 10px;
	color: var(--white);
}

.categoriesPreview-title {
	color: var(--white);
	margin: 20px 0px;
}

.category-container h4 {
	font-weight: 300;
}

.category-container--loading{
	max-width: 100%;
	height: 35px;
	border-radius: 5px;
	background: #9999;
	animation: loading-skeleton infinite 1.5s;
}

/* inactive */
.inactive {
	display: none !important;
}

/* animacion */
.animated {
	opacity: 0;
	animation: fadeIn 2s cubic-bezier(0.28, 0.77, 0.54, 1.04);
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		transform: translateY(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/* related movies  */

#relatedMovies{
	margin: 20px 20px;
}

@media (max-width: 650px) {
	.navbarDesktop {
		display: none !important;
	}
}

@media (min-width: 651px) {
	.navbarMobile {
		display: none;
	}

	.navbarDesktop {
		display: flex;
		justify-content: flex-start;
	}

	.navbarDesktop a {
		padding: 15px;
	}

	.navbar {
		margin-bottom: 0px;
	}

	.logo-stream--left img {
		width: 80%;
	}

	.navbar-search-input-principal {
		width: 150px;
	}

	.bodySectionMovie {
		margin: 20px 100px;
	}

	.movieDetail-principal {
		height: 70vh !important;
	}

	.movieDetail-secundary {
		flex-direction: row-reverse;
	}
	body {
		margin: 20px 100px;
	}

	.listaPeliculas-movielist {
		grid-auto-columns: 15% !important;
	}

	.slider-header{
		overflow: hidden;
		height: 350px;
	}

	.slider-header img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}

	.genericList-content, .genericList-container {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}